apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: nodejs-app-v1
spec:
  replicas: 2
  template:
    metadata:
      labels: # labels to select/identify the deployment
        app: nodejs-app  
    spec:     # pod spec                  
      containers: 
      - name: nodejs-app 
        image: ${DOCKER_REGISTRY}/${DOCKER_REPO}:${WERCKER_GIT_BRANCH}-${WERCKER_GIT_COMMIT} # image we pushed
        ports:
        - containerPort: 8080